.ModaleDechet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  z-index: 2;

  .ModaleContent {
    position: relative;
    background-color: var(--white);
    max-width: 95%;
    width: 95%;
    border-radius: 10px;
    padding: 30px 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.false {
      display: none;
    }

    &.true {
      display: none;
    }

    p {
      text-align: center;
    }

    img.CrossExitBlack {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 20px;
      height: 20px;
    }

    img {
      object-fit: contain;
    }

    .ModaleContentPoubellesContainer {
      display: flex;
      width: 100%;

      .ModaleContentSinglePoubelle {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          color: #374109;
          font-weight: 600;
        }
      }
    }
  }
}
