.cellularItem{
    .cellularMask{
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-mask-image: url(mask.svg);
        mask-image: url(mask.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-position: center;
        mask-composite: exclude; 

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding: 0 10%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(mask-border.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        img{
            width: clamp(20px, 32%, 50px);
            height: auto;
        }

        p{
            text-align: center;
            font-family: var(--font-primary);
            text-transform: uppercase;
            color: white;
            font-size: clamp(10px, 2.8vw, 18px);
        }
    }
}