main.main {
  position: relative;
  background-color: #031d2c;

  h1 {
    font-family: var(--font-primary);
  }

  .ContainerIconHome {
    position: absolute;
    top: 6vh;
    right: 2vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .cellularItems {
    display: flex;
    flex-wrap: wrap;
    max-height: 103vh;
    margin-right: -50vw;
    margin-top: -3vh;
    overflow: hidden;

    > div {
      width: 33.33%;
      min-width: 100px;
      height: auto;
      aspect-ratio: 1/1;
      margin-bottom: -3%;

      &:nth-child(6n + 4) {
        margin-left: -16.666%;
      }
    }
  }

  .ContainerModale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rebeccapurple;
  }

  .mainContainerMenuCellular {
    position: absolute;
    z-index: 1;
    top: 106vh;
    max-height: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -50vw;
    margin-top: -3vh;
    //height: 106vh;
    background-color: var(--dark);
    overflow-y: scroll;
    transition: top 0.5s ease-out, max-height 0.5s ease-out;

    &::before {
      content: "";
      position: absolute;
      top: calc(20px + 6vh);
      left: 20px;
      height: 24px;
      width: 24px;
      background-image: url(../../public/icons/exit-cross.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after {
      content: "Ajouter un service";
      position: absolute;
      top: calc(20px + 6vh);
      left: 50vw;
      transform: translateX(-50%);
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      padding-top: 2px;
    }

    > div {
      width: 33.33%;
      min-width: 100px;
      height: auto;
      aspect-ratio: 1/1;
      margin-bottom: -3%;

      &:nth-child(6n + 4) {
        margin-left: -16.666%;
      }
    }
  }
}

@media (min-width: 300px) {
  main.main {
    .cellularItems {
      display: flex;
      flex-wrap: wrap;
      max-height: 103vh;
      margin-right: -33vw;
      margin-top: -3vh;
      overflow: hidden;

      > div {
        width: 25%;
        min-width: 100px;
        height: auto;
        aspect-ratio: 1/1;
        margin-bottom: -3%;

        &:nth-child(6n + 4) {
          margin-left: 0;
        }

        &:nth-child(8n + 5) {
          margin-left: -12.5%;
        }
      }
    }

    .mainContainerMenuCellular {
      margin-right: -33vw;

      > div {
        width: 25%;

        &:nth-child(6n + 4) {
          margin-left: 0;
        }

        &:nth-child(8n + 5) {
          margin-left: -12.5%;
        }
      }
    }
  }
}

// Media queries Mobile
@media (min-width: 460px) {
  main.main {
    .ContainerIconHome {
      gap: 24px;

      img {
        width: 32px;
        height: 32px;
      }
    }
    .cellularItems {
      display: flex;
      flex-wrap: wrap;
      max-height: 103vh;
      margin-right: -33vw;
      margin-top: -3vh;
      overflow: hidden;

      > div {
        width: 25%;
        min-width: 150px;
        height: auto;
        aspect-ratio: 1/1;
        margin-bottom: -3%;

        &:nth-child(8n + 5) {
          margin-left: -12.5%;
        }
      }
    }

    .mainContainerMenuCellular {
      > div {
        width: 25%;
        min-width: 150px;

        &:nth-child(6n + 4) {
          margin-left: 0;
        }

        &:nth-child(8n + 5) {
          margin-left: -12.5%;
        }
      }
    }
  }
}

// Media queries Tablette
@media (min-width: 600px) {
  main.main {
    .ContainerIconHome {
      gap: 26px;

      img {
        width: 38px;
        height: 38px;
      }
    }

    .cellularItems {
      display: flex;
      flex-wrap: wrap;
      max-height: 103vh;
      margin-right: -25vw;
      margin-top: -3vh;
      overflow: hidden;

      > div {
        width: 20%;
        min-width: 150px;
        height: auto;
        aspect-ratio: 1/1;
        margin-bottom: -3%;

        &:nth-child(8n + 5) {
          margin-left: 0;
        }

        &:nth-child(10n + 6) {
          margin-left: -10%;
        }
      }
    }

    .mainContainerMenuCellular {
      margin-right: -25vw;

      > div {
        width: 20%;

        &:nth-child(8n + 5) {
          margin-left: 0;
        }

        &:nth-child(10n + 6) {
          margin-left: -10%;
        }
      }
    }
  }
}
