.Header {
  display: flex;
  position: relative;
  background-color: var(--dark);
  padding: 20px;
  z-index: 2;

  h1 {
    color: var(--white);
    font-family: var(--font-primary);
    margin: 0 auto;
    font-weight: 400;
    text-transform: uppercase;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
  }

  img {
    position: absolute;
    left: 20px;
    top: 21px;
    width: 20px;
    height: 20px;
    fill: var(--white);
  }
}
