.ContainerMap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; // Vous pouvez ajuster la hauteur selon vos besoins
}

.Main {
  height: 100vh !important;
  max-height: 100vh !important;
  overflow: hidden !important;
}

.ContainerSwitchMap {
  position: relative;
  padding: 10px 10px;
  left: 0;
  z-index: 3;

  display: flex;
  width: 100%;
  justify-content: center;

  .ButtonSwitchMap {
    width: fit-content;
    max-width: 200px;
    height: 36px;
    color: var(--dark);
    border: none;
    font-family: var(--font-primary);
    font-weight: 500;
    transition: all 0.15s ease-in-out;
    background-color: var(--white);
    border: 2px solid var(--dark);
    padding: 0px 22px;

    &:first-of-type {
      border-radius: 20px 0 0 20px;
      border-right: none;
    }

    &:last-of-type {
      border-radius: 0 20px 20px 0;
      border-left: none;
    }

    &.ButtonSwitchMapActive {
      background-color: var(--dark);
      color: var(--white);
      border-color: var(--dark);
      box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.006),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    }
  }
}

.ContainerZoneInfos {
  position: absolute;
  bottom: 0;
  padding: 8px;
  z-index: 1;
  width: 100vw;
  height: fit-content;

  .ContentZoneInfos {
    width: 100%;
    background-color: white;
    border: 4px solid black;
    padding: 18px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.006),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.008),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.01),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.012),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.014),
      100px 100px 80px rgba(0, 0, 0, 0.02);

    display: flex;
    flex-direction: row;
    align-items: center;

    .ContainerNames {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h2 {
        font-size: clamp(14px, 4vw, 18px);
        font-weight: 700;
      }

      .NbHabitant {
        font-size: clamp(12px, 3.5vw, 16px);
        font-weight: 500;
        margin-left: 0;
        margin-right: 0;
      }
    }

    p {
      font-size: clamp(32px, 6vw, 42px);
      font-weight: 800;
      margin-left: auto;
      margin-right: 10px;
    }
  }
}
.rankVisualizerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px;
  a,
  p {
    text-align: left;
    font-size: 0.9em;
  }
  a {
    color: var(--pink);
    text-decoration: underline;
  }

  .rankVisualizer {
    position: relative;
    align-self: center;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    background: rgb(56, 142, 60);
    background: linear-gradient(
      90deg,
      rgba(56, 142, 60, 1) 10%,
      rgba(93, 162, 96, 1) 30%,
      rgba(139, 195, 74, 1) 50%,
      rgba(255, 235, 59, 1) 70%,
      rgba(255, 215, 0, 1) 90%
    );
    margin-bottom: 15px;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      top: 50%;
      left: 10%;
      width: 8px;
      border: 3px solid var(--dark);
      border-radius: 50px;
      height: 100%;
      transform: translateY(-50%);
    }
    &::after {
      top: 100%;
      left: 10%;
      width: 8px;
      font-weight: 600;
      border: 2px solid transparent;
    }
    &.colorA {
      &::before {
        background-color: #388e3c;
        left: 10%; // Position pour color A
      }

      &::after {
        left: 10%; // Position pour color A
        content: "A"; // Contenu pour color A
      }
    }

    &.colorB {
      &::before {
        background-color: #8bc34a;
        left: 35%; // Position pour color B
      }

      &::after {
        left: 35%; // Position pour color B
        content: "B"; // Contenu pour color B
      }
    }

    &.colorC {
      &::before {
        background-color: #ffeb3b;
        left: 75%; // Position pour color C
      }

      &::after {
        left: 75%; // Position pour color C
        content: "C"; // Contenu pour color C
      }
    }

    &.colorD {
      &::before {
        background-color: #ffd700;
        left: 90%; // Position pour color D
      }

      &::after {
        left: 90%; // Position pour color D
        content: "D"; // Contenu pour color D
      }
    }
  }
}

.seeMorePlacesLink {
  width: fit-content;
  padding: 10px;
  border: 1px solid var(--dark);
  border-radius: 50px;
  margin-left: 15px;
  font-size: 0.9em;
}

.dataTable {
  margin-top: 15px;
  padding: 0 15px;
  > * + * {
    border-top: 2px solid rgb(206, 206, 206);
  }
  .dataRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    // font-size: 0.9em;
    h5 {
      font-size: 1em;
    }
  }
}

.chartGraph {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

.graphMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .yearSelect {
    position: relative;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      display: inline-block;
      margin-left: -10px;
      width: 12px;
      height: 12px;
      transform: rotate(-90deg);
      background-image: url("/icons/thin-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  select {
    position: relative;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    &:focus {
      outline: none;
    }
  }
}
.graphContainer {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  height: 300px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  .monthDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .monthDataQuantityBar {
      text-align: center;
      width: 55px;
      padding: 5px;
      border-radius: 5px 5px 0 0;
    }

    .monthDataName {
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 15px;
    }
  }
}
.carouselList::-webkit-scrollbar {
  display: none;
}
.infoBanner {
  margin: 15px 0;
  background-color: #f2f2f2;
  text-align: left;
  border: 1px solid #c8c8c8;
  border-left: 0px;
  border-right: 0px;
  padding: 14px;
  font-size: 0.9em;
  h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .infoCta {
    display: flex;
    justify-content: space-between;
  }
}
