.ContainerSwitchMap {
  padding: 10px 10px;
  display: flex;
  width: 100%;
  gap: 10px;

  .ButtonSwitchMap {
    width: 50%;
    max-width: 200px;
    height: 36px;
    color: var(--black);
    border: none;
    font-family: var(--font-primary);
    font-weight: 500;
    transition: all 0.15s ease-in-out;

    &.ButtonSwitchMapActive {
      background-color: var(--pink);
      color: var(--white);
      box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.006),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    }
  }
}

.ContainerCardsRanking {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 26px;

  .ContainerRankingEntete {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .RankingEntete {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4px;
      border-bottom: 1px solid black;

      p {
        font-size: 12px;
      }
    }
  }
}
